* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

* {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
